name: SonarCloud

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install coverage pytest

      - name: Run tests with coverage
        run: |
          coverage run --source=src -m pytest
          coverage xml -o coverage.xml

      - name: Debug coverage file
        run: |
          echo "Arquivos na pasta atual:"
          ls -la .
          echo ""
          echo "Procurando coverage.xml:"
          find . -name "coverage.xml" -print

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=andreluiz1035_sonarqubecloud
            -Dsonar.organization=andreluiz1035
            -Dsonar.sources=src
            -Dsonar.tests=tests
            -Dsonar.python.coverage.reportPaths=coverage.xml
            -Dsonar.python.version=3.10
