name: SonarCloud

on:
  push:
    branches:
      - main
      - 'feature/**'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies (opcional)
        run: |
          pip install -r requirements.txt || true

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v5
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=andreluiz1035_sonarqubecloud
            -Dsonar.organization=andreluiz1035
            -Dsonar.sources=.
            -Dsonar.python.version=3
            -Dsonar.host.url=https://sonarcloud.io
